// COLOR

$color-primary: #098DFF;
$color-primary-light: #CAE6FF;

$color-white: #fff;
$color-black: #0D0E0F;

$color-dark: #666869;
$color-dark-1: #404243;

$color-grey: #ededed;
$color-grey-1: #D9D9D9;

$color-blue: #0660FE;
$color-blue-1: #0556E5;

$border-radius: 8px;
$border-radius-lg: 20px;
